name: Types

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: types-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  CI: true

jobs:
  types:
    if: "! contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    name: Type Checking
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
#      - uses: actions/setup-node@v3
#        with:
#          node-version: 16.x
#          cache: yarn
#
#      - name: Install Dependencies
#        run: yarn install --no-lockfile
#
#      - name: Type Checking
#        run: yarn tsc --build
#        working-directory: tracked-toolbox
